@model OA_WEB.Models.ProductModel

<div class="form-group">
    <label asp-for="ImagePath"></label>
    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        <img src="@Model.ImagePath" alt="Current Image" style="max-width: 200px;" />
        <input type="hidden" asp-for="ImagePath" />
    }
    <input type="file" name="file" class="form-control border-0 shadow" />
    <span class="text-danger" asp-validation-for="ImagePath"></span>
</div>

<div class="form-group">
    <label asp-for="Name"></label>
    <input type="text" asp-for="Name" class="form-control" placeholder="Enter name" />
    <span class="text-danger" asp-validation-for="Name"></span>
</div>

<div class="form-group">
    <label asp-for="Description"></label>
    <input asp-for="Description" class="form-control" placeholder="Enter Description" />
    <span class="text-danger" asp-validation-for="Description"></span>
</div>

<div class="form-group">
    <label asp-for="CategoryName"></label>
    <select asp-for="CategoryId" class="form-control" asp-items="Model.AvailableCategoryOptions">
        <option value="">Select Category</option>
    </select>
    <span class="text-danger" asp-validation-for="CategoryId"></span>
</div>

<div class="form-group">
    <label asp-for="BuyingPrice"></label>
    <input asp-for="BuyingPrice" class="form-control" />
    <span class="text-danger" asp-validation-for="BuyingPrice"></span>
</div>

<div class="form-group">
    <label asp-for="SellingPrice"></label>
    <input asp-for="SellingPrice" class="form-control" />
    <span class="text-danger" asp-validation-for="SellingPrice"></span>
</div>

<div class="form-group">
    <label asp-for="Quantity"></label>
    <input asp-for="Quantity" class="form-control" />
    <span class="text-danger" asp-validation-for="Quantity"></span>
</div>

<br />
