@model CategoryModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Category</h1>

<form class="category-delete" asp-controller="Category" asp-action="Delete" method="post">
    <div class="form-group">
        <label>Category Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="List" class="btn btn-secondary">Back to List</a>
    </div>
</form>
