@model CityModel
@{
}

<h2>Create City</h2>

<input asp-for="Id" type="hidden" />

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" asp-controller="Area" asp-action="CityCreate">
                <partial name="_CreateOrUpdate.City"></partial>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Create" />
                    <a class="btn btn-primary" asp-action="StateEdit" asp-route-id="@Model.Id" asp-controller="Area">Back to city list</a>
                </div>
            </form>
        </div>
    </div>
</div>